app-bar-chart {
    
        

        .bar {
            fill: steelblue;
        }
        
        .bar:hover {
            fill: black;
        }
        
        .axis--x path {
            display: none;
        }
    
}